body {
  font-family: sans-serif;
  background-color: black;
  color: aliceblue;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.input-field {
  color: rgb(255, 255, 255);
}
/* label color */
.input-field label {
  color: rgb(255, 255, 255);
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: rgb(255, 255, 255);
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  color: rgb(255, 255, 255);

}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(255, 255, 255);
}

#nav-header {
  text-align: center;
}

nav {
  text-align: right;
}

#how-to {
  text-align: center;
}

#start-page {
  text-align: center;
}

#welcome {
  margin-right: 2rem;
}
